@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col">
        
        <div class="d-flex justify-content-center">
            <div class="box box2">
                <div class="evenboxinner">Meanwhile..</div>
            </div>
        </div>
        <div class="text-center">
            <h1 class="display-4">Hero Or Villian?</h1>
        </div>
    </div>

    <div class="col myedit">
        <textarea>You write the story!</textarea>
    </div>
</div>
